.field-advancedupload label.file span img {
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	max-height: 100px;
	max-width: 98%;
	margin: 0 0 6px 0;
	vertical-align: bottom;
}
.field-advancedupload label.file span img + a {
	clear: both;
}